nav{
	width:100%;
	height:50px;
	margin:auto;
	background-color:#d1693c;
	position:relative;
}

body{
	background-color:#fdeee7;
	padding:0px;
	margin:0px;
}
	
main{
	background-color:#fdeee7;
	padding:10px
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #d1693c;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color:#d1693c;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color:#374240;
	color: White;
}

.dropdown:hover .dropdown-content {
	display: block;
}

body{
	color:#000000;
	background-color:#ffffff;
	font-family:"comic sans ms regular", Arial, sans-serif;
}

.sample{
	max-height:400px;
	max-width:100%;
	border-style:solid;
	border-width:1px;
	border-color:black;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #d1693c;
	color: white;
	text-align: center;
	padding: 8px 0px;
}

.centerdiv {
	margin: 4px auto;

}

/* copyright indication */
.copyright {
	color: white;
	text-align: center;
	width:100%;
}

/* social media clickable logos */
.socialmedia-icon {
	color:#fdeee7;
	text-decoration: none;
	padding: 10px;
	width: 30px;
	font-size: 22px
	display: inline-block;
}
	
.socialmedia-icon:hover {
	color:#76818c;
	transition: color 0.2s
}
